.yellow{
    background-color:yellow;
}
.blue{
    background-color:blue;
}
.green{
    background-color:green;
}
.lightblue{
    background-color:lightblue;
}
.red{
    background-color:red;
}
.orange{
    background-color:orange;    
}
.black{
    background-color:black;
}
.border{
    border:solid 2px black
}